:root {
    /*Colors*/
    --color-text: #fff;
    --color-primary: #032164;
    --color-secondary: #ffea04;
    --color-dark: #000e35;
    --color-bg: #000000;

    /*Fonts*/
    --font-robot: "Roboto";


}