
.navbar {
    position: absolute;
    top: 25%;
    right: -18px; /* sticks out from notebook page */
    z-index: 2;
  }
  
  .tabList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .tab {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: #fffaaf;
    border: 2px solid #bbb;
    border-left: none;
    border-radius: 8px 0 0 8px;
    padding: 1rem 0.5rem;
    font-family: 'Georgia', serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
    text-decoration: none;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    cursor: pointer;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 85% 100%, 0% 100%);
  }
  
  .tab:hover {
    background-color: #ffffff;
    transform: scale(1.03) rotate(180deg);
  }
  .tabActive {
    outline: 3px solid #444;
  }
  .about {
    background-color: #f9d520; /* yellow */
    border-color: #e1c74f;
  }
  
  .projects {
    background-color: #ff00f2; /* pink */
    border-color: #d699a6;
  }
  
  .experience {
    background-color: #04f2ff; /* blue */
    border-color: #7eb6d2;
  }
  